<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.pgrzmil.Xamarin_Droid" android:installLocation="auto" android:versionCode="1">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Xamarin.Droid" android:icon="@drawable/icon"></application>
</manifest>