################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Xamarin/packages
/Xamarin/XamarinResearch/Xamarin.iOS/bin
/Xamarin/XamarinResearch/Xamarin.iOS/obj
/Xamarin/XamarinResearch/Xamarin.Droid/bin
/Xamarin/XamarinResearch/Xamarin.Droid/obj