################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Xamarin/packages
/Xamarin/Xamarin.Forms/Xamarin/bin/Debug
/Xamarin/Xamarin.Forms/Xamarin/obj/Debug
/Xamarin/Xamarin.Forms/Xamarin.Droid/bin/Debug
/Xamarin/Xamarin.Forms/Xamarin.Droid/obj/Debug
/Xamarin/Xamarin.Forms/Xamarin.iOS/bin/iPhone/Debug
/Xamarin/Xamarin.Forms/Xamarin.iOS/obj/iPhone/Debug
/Xamarin/Xamarin.Forms/Xamarin/bin/Release
/Xamarin/Xamarin.Forms/Xamarin/obj/Release
/Xamarin/Xamarin.Forms/Xamarin.Droid/bin/Release
/Xamarin/Xamarin.Forms/Xamarin.Droid/obj/Release
/Xamarin/Xamarin.Forms/Xamarin.iOS/bin/iPhone/Release
/Xamarin/Xamarin.Forms/Xamarin.iOS/obj/iPhone/Release
/Xamarin/Xamarin.Native/Xamarin.Native/bin/Debug
/Xamarin/Xamarin.Native/Xamarin.Native/obj/Debug
/Xamarin/Xamarin.Native/Xamarin.Native.Droid/bin/Debug
/Xamarin/Xamarin.Native/Xamarin.Native.Droid/obj/Debug
/Xamarin/Xamarin.Native/Xamarin.Native.iOS/obj/iPhone/Debug
/Xamarin/Xamarin.Native/Xamarin.Native.iOS/bin/iPhone/Debug
/Xamarin/Xamarin.Native/Xamarin.Native/bin/Release
/Xamarin/Xamarin.Native/Xamarin.Native/obj/Release
/Xamarin/Xamarin.Native/Xamarin.Native.Droid/bin/Release
/Xamarin/Xamarin.Native/Xamarin.Native.Droid/obj/Release
/Xamarin/Xamarin.Native/Xamarin.Native.iOS/obj/iPhone/Release
/Xamarin/Xamarin.Native/Xamarin.Native.iOS/bin/iPhone/Release